.learn-wrapper {
  width: 100%;
  padding: 40px 45px;
  background: rgb(255, 255, 255);
  transition: all 150ms linear 0s, box-shadow 0ms linear 0s;
  width: 100%;
  border-bottom: 1px solid rgb(236, 239, 241);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  font-size: 16px;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
.list-item-wrapper {
  display: flex;
  gap: 15px;
  font-weight: bold;
}
.list-item-wrapper:hover {
  cursor: pointer;
  color: #0667d0;
}
.left-learn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Coinbase Sans";
  font-weight: 500;
  /* -webkit-font-smoothing: antialiased; */
}
.middle-learn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Coinbase Sans";
  font-weight: 500;
}

.right-learn {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-left: 20px;
  gap: 10px;
  max-width: 320px;
}
.right-title {
  font-family: "Coinbase Sans";
  font-weight: 500;
  font-size: 16px;
}
.right-body {
  font-family: "Coinbase Sans";
  font-weight: 400;
  font-size: 16px;
}
.right-footer {
  margin-top: 22px;
  color: rgb(0, 82, 255);
  cursor: pointer;
  font-family: "Coinbase Sans";
  font-weight: 500;
  font-size: 16px;
}
.right-footer:hover {
  color: #0667d0;
}
