.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-centered {
  width: 1180px;
  background-color: white;
  display: flex;
}
@media screen and (max-width: 650px) {
  .main-centered {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 650px) {
  .main-input-form,
  .main-signup {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  .p-email {
    display: none;
  }
}
@media screen and (min-width: 650px) {
  .p-email-small {
    display: none;
  }
}
.phonescreen-wrapper {
  min-width: 636px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone-pic {
  /* max-width: 644px;
  max-height: 636px; */
  height: auto;
  width: 100%;
}
.main-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 24px;
  padding-left: 8px;
}
.main-input-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 472px;
  gap: 16px;
  padding-bottom: 24px;
  flex-wrap: wrap;
}
.signup-header {
  font-size: 64px;
  font-family: "Coinbase Display";
  font-weight: 400;
  line-height: 72px;
  -webkit-font-smoothing: antialiased;
}
.signup-body {
  font-size: 28px;
  line-height: 36px;
  font-family: "Coinbase Sans1";
  -webkit-font-smoothing: antialiased;

  font-weight: 400;
}
.main-input {
  padding: 17px;
  border: 1px solid rgba(91, 97, 110, 0.2);
  border-radius: 8px;
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: 400;
  height: auto;
  font-family: "Coinbase Sans";
}
.main-signup-button {
  height: 56px;
  min-width: 100px;
  width: 124.203px;
  background-color: rgb(0, 82, 255);
  border-radius: 56px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.main-signup-button:hover {
  background-color: rgb(1, 76, 236);
  cursor: pointer;
}
.p-email {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
  font-family: "Coinbase Sans";
}
.p-email-small {
  font-weight: 600;
  margin: 0;
  font-size: 14px;
  font-family: "Coinbase Sans";
}
.main-signup-p-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  gap: 20px;
}
.signup-reward {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 0;
  font-family: "Coinbase Sans";
  -webkit-font-smoothing: antialiased;
  color: rgb(10, 11, 13);
}
@media (max-width: 1091px) {
  .phonescreen-wrapper {
    min-width: unset;
  }
}
