.userpage-wrapper {
  display: flex;
}
.middle-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}

@media screen and (max-width: 1280px) {
  .middle-wrapper {
    margin-left: 87px;
  }
}
@media screen and (max-width: 770px) {
  .middle-wrapper {
    margin-left: 0;
  }
}
.bottom-mid-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.mybalance-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  padding: 32px;
  width: 100%;
  height: 154px;
  border-bottom: 1px solid rgb(222, 223, 226);
}
.my-balance {
  font-family: "Coinbase Sans";
  font-size: 20px;
  font-weight: 500;
  color: rgb(91, 97, 110);
  -webkit-font-smoothing: antialiased;
  padding-bottom: 4px;
}
.balance-wrapper {
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.balance {
  font-family: "Coinbase Display";
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}
.greater-than {
  color: rgb(91, 97, 110);
  font-family: "Coinbase Icons";
  font-size: 16px;
  font-weight: 400;
}
.watchlist-wrapper {
  width: 100%;
  border-bottom: 1px solid rgb(222, 223, 226);
}
.top-watchlist {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}
.prices-text {
  font-family: "Coinbase Sans";
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.watchlist-dropdown {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 16px;
  padding-left: 16px;
  font-family: "Coinbase Sans";
  display: flex;
  font-size: 16px;
  font-weight: 500;
  border-radius: 1000px;
  background-color: rgb(238, 240, 243);
  border: none;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  gap: 4px;
}
.dropdown-arrow {
  height: 16px;
  width: 16px;
}
.main-wrapper {
  display: flex;
  margin-left: 5px;
}
.right-sidebar-wrapper {
  min-width: 380px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(222, 223, 226);
  padding-right: 24px;
}

@media screen and (max-width: 1070px) {
  .right-sidebar-wrapper {
    display: none;
  }
}
.top-right-sidebar {
  padding: 16px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.arrows-wrapper {
  display: flex;
  gap: 8px;
}
.navigating-arrows {
  height: 20px;
  width: 20px;
}
.arrow-individual {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  cursor: pointer;
}
.close-button {
  display: flex;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 20px;
}
.xbutton {
  height: 24px;
  width: 24px;
}
.scroll-options-wrapper {
  display: flex;
  border-bottom: 1px solid rgb(222, 223, 226);
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  min-height: 161px;
}
.scroll-options-left {
  display: flex;
  flex-direction: column;
  width: 232px;
  padding-right: 8px;
}
.scroll-options-title {
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.scroll-options-body {
  font-family: "Coinbase Sans";
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
  -webkit-font-smoothing: antialiased;
  color: rgb(91, 97, 110);
}
.scroll-options-link {
  color: rgb(0, 82, 255);
  font-family: "Coinbase Sans";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.bottom-right-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(222, 223, 226);
}
.top-movers-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  padding-bottom: 16px;
}
.top-movers-text {
  font-family: "Coinbase Sans";
  font-size: 20px;
  font-weight: 500;
  color: rgb(10, 11, 13);
  -webkit-font-smoothing: antialiased;
}
.see-all-text {
  cursor: pointer;
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 82, 255);
  -webkit-font-smoothing: antialiased;
}
.bottom-movers-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.movers-stock-info {
  display: flex;
  flex: 1;

  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
}
.leftmovers-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.leftmovers-text {
  display: flex;
  flex-direction: column;
}
.leftmovers-top {
  color: rgb(10, 11, 13);
  line-height: 24px;
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.leftmovers-bottom {
  color: rgb(91, 97, 110);
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.rightmovers-info {
  display: flex;
  flex-direction: column;
}
.rightmovers-bottom {
  display: flex;
  color: rgb(9, 133, 81);
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.rightmovers-top {
  color: rgb(10, 11, 13);
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: flex-end;
}
.stock-logo-info {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 12px;
  padding-left: 32px;
  min-width: 240px;
  max-width: 100%;
}
.stock-logo {
  height: 32px;
  width: 32px;
}
.stock-words {
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}

.stock-words-top {
  color: rgb(10, 11, 13);
  line-height: 24px;
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.stock-words-bottom {
  color: rgb(91, 97, 110);
  font-family: "Coinbase Sans";
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.bottom-watchlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
  padding-left: 12px;
}
.watchlist-price {
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  display: flex;
  min-width: 83px;
  max-width: 100%;

  justify-content: center;
}
.watchlist-percent {
  color: rgb(9, 133, 81);
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.watchlist-marketcap {
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.option-to-buy {
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 82, 255);
}
.star {
  height: 18px;
  width: 18px;
  color: rgb(0, 82, 255);
}
.star-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (max-width: 660px) {
  .watchlist-marketcap,
  .option-to-buy,
  .star-icon {
    display: none;
  }
}
.menurows {
  height: 16px;
  width: 16px;
}
.topstories-wrapper {
  display: flex;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 32px;
  font-family: "Coinbase Sans";
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.stories-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  gap: 32px;
}
.storiescard-wrapper {
  display: flex;
  flex: 1;
  gap: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.storiescard-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  height: 181px;
  min-height: 181px;
  min-width: 236px;
  width: 236px;
  border: 1px solid rgba(91, 97, 110, 0.2);
  cursor: pointer;
  object-fit: cover;
}
.stories-img {
  height: 181px;
  width: 236px;
  border-radius: 16px;
  object-fit: cover;
}
.storiescard-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-top {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  cursor: pointer;
}
.card-top-text {
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}
.card-news {
  font-family: "Coinbase Text";
  font-size: 13px;
  font-weight: 400;
  color: rgb(91, 97, 110);
  -webkit-font-smoothing: antialiased;
}
.time-posted {
  font-family: "Coinbase Text";
  font-size: 13px;
  font-weight: 400;
  color: rgb(91, 97, 110);
  -webkit-font-smoothing: antialiased;
}
.card-title {
  font-family: "Coinbase Sans";
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.card-body {
  font-family: "Coinbase Sans";
  font-size: 16px;
  font-weight: 400;
  color: rgb(91, 97, 110);
  cursor: pointer;
}
.card-main {
  padding-right: 24px;
  flex-grow: 1;
}
.stories-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 24px;
}
.heart-icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
.stories-bottom-left {
  display: flex;
  gap: 8px;
  font-family: "Coinbase Text";
  font-size: 13px;
  font-weight: 500;
}
.stock-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: rgb(238, 240, 243);
  cursor: pointer;
  border-radius: 1000px;
  border: none;
  gap: 4px;
}
.stockbutton-left {
  font-size: 13px;
  font-family: "Coinbase Text";
  font-weight: 500;
}

.stockbutton-right {
  color: rgb(9, 133, 81);
  font-size: 13px;
  font-family: "Coinbase Text";
  font-weight: 500;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
