.banner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 82, 255);
  color: white;
  flex-grow: 1;
  font-size: 18px;
  min-width: 100%;
  font-weight: 600;
}
